body{
    background-image: url("C:/Users/smishra/Desktop/Proj1/CreatePage.jpg");
    background-size: cover;
    color: white;
  }
.One{
    background-color: grey;
    margin:50px;
    height:150px;
}
#Folders::before{
    margin-left:30px;
}
input[type=text], select {
      width: 55%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}

input[type=button] {
      width: 20%;
      background-color: lightgrey;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}

input[type=button]:hover {
      background-color:black ;
      color:lightgrey;
}
input[type=submit] {
      width: 20%;
      background-color: lightgrey;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      margin-left: 50px;
      margin-top: 40px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}

input[type=submit]:hover {
      background-color:black ;
      color:lightgrey;
}
.Two{
    color: white; 
    margin-left: 50px;
}
.Three{
    color: white; 
    margin-left: 50px;
}
.Four{
    color: white; 
    margin-left: 50px;
}